In [140]:
import pandas as pd

In [141]:
# load in data
school_data_path = "resources/schools_complete.csv"
student_data_path = "resources/students_complete.csv"

# read data as a dataframe
school_df = pd.read_csv(school_data_path)
student_df = pd.read_csv(student_data_path)

In [142]:
# look for missing values: count values in each column
student_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [143]:
# look for missing values: sum the count of of null values
student_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [144]:
# look for missing values: sum the count of non-null values
student_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [145]:
# check data types
school_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [146]:
# list of all prefixes and suffixes to remove from names
presuf = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [147]:
# replace pre/suffixes with an empty space
for word in presuf:
    student_df["student_name"] = student_df["student_name"].str.replace(word,"")

student_df.head(10)

/var/folders/sl/tgxsvd7x1sgfd5nbn3xfjc4m0000gn/T/ipykernel_49852/1146839763.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  student_df["student_name"] = student_df["student_name"].str.replace(word,"")

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [148]:
# merge dataframes into a single data set
full_df = pd.merge(student_df, school_df, on = "school_name")

In [149]:
full_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [150]:
# get the total number of students
student_count = full_df["Student ID"].count()
student_count

39170

In [151]:
# get the number of schools
school_count = len(full_df["school_name"].unique())
school_count

15

In [152]:
# calculate the total budget
total_budget = school_df["budget"].sum()
total_budget

24649428

In [153]:
# calculate the average reading score per student
avg_reading_score = full_df["reading_score"].mean()
avg_reading_score

81.87784018381414

In [154]:
# calculate the average math score per student
avg_math_score = full_df["math_score"].mean()
avg_math_score

78.98537145774827

In [156]:
# identify all the students with passing math and reading scores
passed_math = full_df["math_score"] >= 70
passed_reading = full_df["reading_score"] >= 70

passed_math

0         True
1        False
2        False
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: math_score, Length: 39170, dtype: bool

In [157]:
# new dataframe of all students who passed math
passed_math = full_df[full_df["math_score"] >= 70]
passed_math.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [158]:
# new dataframe of all students who passed reading
passed_reading = full_df[full_df["reading_score"] >= 70]
passed_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [159]:
# count how many students passed math and reading
passed_math_count = passed_math["student_name"].count()
passed_reading_count = passed_reading["student_name"].count()

print(passed_math_count)
print(passed_reading_count)

29370
33610

In [160]:
# calculate percentages of students who passed math and reading

passed_math_pct = passed_math_count / student_count * 100
passed_reading_pct = passed_reading_count / student_count * 100

print(passed_math_pct)
print(passed_reading_pct)

74.9808526933878
85.80546336482001

In [161]:
# calculate percentage of students who passed both math and reading
passed_both = full_df[(full_df["math_score"] >= 70) & (full_df["reading_score"] >= 70)]

passed_both_count = passed_both["student_name"].count()

passed_both_pct = passed_both_count / student_count * 100
passed_both_pct

65.17232575950983

In [162]:
# new dataframe with summary values
district_df = pd.DataFrame(
    [{"Total Schools" : school_count,
     "Total Students" : student_count,
     "Total Budget" : total_budget,
     "Average Math Score" : avg_math_score,
     "Average Reading Score" : avg_reading_score,
     "% Passing Math" : passed_math_pct,
     "% Passing Reading" : passed_reading_pct,
     "% Overall Passing" : passed_both_pct}])

district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [163]:
# format columns

district_df["Total Students"] = district_df["Total Students"].map("{:,}".format)

district_df["Total Budget"] = district_df["Total Budget"].map("${:,.2f}".format)

district_df["Average Math Score"] = district_df["Average Math Score"].map("{:.1f}".format)

district_df["Average Reading Score"] = district_df["Average Reading Score"].map("{:.1f}".format)

district_df["% Passing Math"] = district_df["% Passing Math"].map("{:.0f}".format)

district_df["% Passing Reading"] = district_df["% Passing Reading"].map("{:.0f}".format)

district_df["% Overall Passing"] = district_df["% Overall Passing"].map("{:.0f}".format)

In [164]:
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [165]:
# reorder columns
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", 
                    "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

district_df = district_df[new_column_order]
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [166]:
# determine school types to index a new dataframe
school_types = school_df.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [167]:
# save school types as a dataframe
types_df = pd.DataFrame(school_types)
types_df

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [170]:
# get total students per school from school dataframe
per_school_counts = school_df.set_index("school_name")["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [174]:
# get total students per school from complete dataframe
per_school_counts = full_df["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [175]:
# get the budget of each school
per_school_budget = school_df.set_index("school_name")["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [176]:
# calculate budget spent per student
per_student_budget = per_school_budget / per_school_counts
per_student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [179]:
# calculate mean test scores per school

per_school_math = full_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = full_df.groupby(["school_name"]).mean()["reading_score"]
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [199]:
# get all passing scores for math and reading

per_school_passed_math = full_df[full_df["math_score"] >= 70]
per_school_passed_reading = full_df[full_df["reading_score"] >= 70]

In [200]:
# count the number of students who passed each topic

per_school_passed_math = per_school_passed_math.groupby("school_name").count()["student_name"]
per_school_passed_reading = per_school_passed_reading.groupby("school_name").count()["student_name"]

In [201]:
# calculate the percentage of students who passed each topic at each school

per_school_passed_math = per_school_passed_math / per_school_counts * 100
per_school_passed_reading = per_school_passed_reading / per_school_counts * 100

In [202]:
# count the number of students who passed both topics

per_school_passed_both = full_df[(full_df["math_score"] >= 70) & (full_df["reading_score"] >= 70)]
per_school_passed_both = per_school_passed_both.groupby("school_name").count()["student_name"]

In [203]:
# calculate the percentage of students who passed both topics

per_school_passed_both = per_school_passed_both / per_school_counts * 100
per_school_passed_both

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [212]:
# create a summary dataframe

school_summary_df = pd.DataFrame({
    "School Type": school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_student_budget,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passed_math,
    "% Passing Reading": per_school_passed_reading,
    "% Overall Passing": per_school_passed_both})

school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

In [213]:
# format columns

school_summary_df["Total Students"] = school_summary_df["Total Students"].map("{:,}".format)

school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)

school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)

school_summary_df["Average Math Score"] = school_summary_df["Average Math Score"].map("{:.1f}".format)

school_summary_df["Average Reading Score"] = school_summary_df["Average Reading Score"].map("{:.1f}".format)

school_summary_df["% Passing Math"] = school_summary_df["% Passing Math"].map("{:.1f}".format)

school_summary_df["% Passing Reading"] = school_summary_df["% Passing Reading"].map("{:.1f}".format)

school_summary_df["% Overall Passing"] = school_summary_df["% Overall Passing"].map("{:.1f}".format)


school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.0,81.0,66.7,81.9,54.6
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.1,84.0,94.1,97.0,91.3
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.7,81.2,66.0,80.7,53.2
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.1,80.7,68.3,79.3,54.3
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.4,83.8,93.4,97.1,90.6

In [214]:
# reorder columns
new_column_order = ["School Type", "Total Students", "Total School Budget", "Per Student Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

school_summary_df = school_summary_df[new_column_order]

school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.0,81.0,66.7,81.9,54.6
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.1,84.0,94.1,97.0,91.3
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.7,81.2,66.0,80.7,53.2
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.1,80.7,68.3,79.3,54.3
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.4,83.8,93.4,97.1,90.6